
body {
    background-color:lightblue;
    text-align:center;
}
div {
    background-color:white;
    padding:10px;
    margin:10px;
    border-radius: 5px 5px 3px;
    box-shadow:5px 5px 3px black
}
form {
    padding:10px;
}
input {
    margin:5px;
    padding:8px;
}
table {
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
