body {
    text-align: center;
    background-color: #516e8d;
}
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.alert-primary{
    width: 90%;
    margin: auto;
}
.table {
    width: 100%;
    margin: auto;
    overflow: hidden;
}